body {
  font-family: Roboto;
}
.header {
}
.webstudio-top {
}
.menu-nav {
  position: absolute;
  width: 294px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.mail {
  color: #757575;
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
}
.tel {
  color: #757575;
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
}

.bussines {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
