:root {
  --brand-color: #2196f3;
  --portfolio-btn-color: #f5f4fa;
  --title-main-color: #212121;
  --text-main-color: #757575;
  --some-bckgrnd-text-color: #ffffff;
  --accent-bckgnd-color: #2f303a;
}
body {
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*  ----------------header-----------------  */

.header {
  background: var(--some-bckgrnd-text-color);
}
.webstudio-top {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
}
.web {
  color: var(--brand-color);
}
.header-nav {
}
.header-nav-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-main-color);
}
.header-nav-studio .header-nav-portfolio .header-nav-contacts .mail-header .tel-header:hover,
.header-nav-studio .header-nav-portfolio .header-nav-contacts .mail-header .tel-header:focus {
  color: var(--brand-color);
}
.header-nav-portfolio {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-main-color);
}
.header-nav-contacts {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-main-color);
}
.mail-header {
  color: var(--text-main-color);
}
.tel-header {
  color: var(--text-main-color);
}

/*  -------------!!!index!!!-------------  */

/*  -------------------main------------  */

.main-index {
  background: #e5e5e5;
}

/*  -------------------to order-------------  */

.index-section-first {
  background: var(--accent-bckgnd-color);
}
.index-bussines {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--some-bckgrnd-text-color);
}
.index-button-order {
  font-family: inherit;
  background-color: var(--brand-color);
  cursor: pointer;
}
.button-index-order-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--some-bckgrnd-text-color);
}

/*  -----------------what we do---------------  */

.section-whatwedo {
}
.whatwedo-title {
}
.list-whatwedo-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-main-color);
}
.list-whatwedo-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}
.whatwedo-pictures {
}
.whatwedo-title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
}
.whatwedo-image {
}

/*  ----------------our team-----------------  */

.index-team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
}
.team-image-one {
}
.team-image-two {
}
.team-image-three {
}
.team-image-four {
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
}
.team-prof {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

/*  ---------------footer--------------------  */

.footer {
  background: var(--accent-bckgnd-color);
}
.webstudio-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
}
.footer-address {
  font-style: normal;
}

/*  -------------  !!!!portfolio!!!!  --------------  */

/*  -----------------main---------------  */

.main-title {
}

/*  -----------------filters--------------  */

.filters-section {
  background: var(--some-bckgrnd-text-color);
}
.filters-btns {
  color: var(--portfolio-btn-color);
  cursor: pointer;
}
.filters-btns:hover,
.filters-btns:focus {
  color: var(--brand-color);
}
.btns-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
}
.btns-text:hover,
.btns-text:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--some-bckgrnd-text-color);
}

/*  ----------------projects--------------  */

.portfolio {
}
.portfolio-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-main-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}
